.shopping-cart-root {
    /* background-color: var(--yellow); */
}

.shopping-cart-root .cart-header {
    text-align: center;
    margin-top: 0;
    padding-top: 2em;
    color: black;
    font-size: xx-large;
}

.shopping-cart-root .cart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    width: 98vw;
    margin: auto;

    background-color: var(--blue);
}

.shopping-cart-root .cart-summary-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    border: solid var(--blue) .2px;
    border-radius: 4px;
    text-align: left;
    height: fit-content;
    padding: 1em;
    margin: 1em;
    text-align: center;
    background-color: white;

}

/* checkout button style */
.shopping-cart-root .cart-summary-container .checkout-btn {
    background-color: var(--yellow);
    color: black;
    font-size: 1em;
    font-weight: bold;
    width: 10em;
    height: 2.5em;
    border-radius: 6px;
    border: none;
    margin: auto;
}

/* checkout button active */
.shopping-cart-root .cart-summary-container .checkout-btn:active {
    background-color: var(--yellow);
    color: var(--blue);
}

.shopping-cart-root .item-row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em;
    padding: 1em;
    background-color: white;
}

.shopping-cart-root .item-row-container .cart-item-image-frame {
    display: flex;
    width: 5em;
    height: 5em;
}

.shopping-cart-root .item-row-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

/* quanitity buttons style */
.shopping-cart-root .item-row-container .quantity-btn button {
    width: 2em;
    height: 2em;
    margin-right: .5em;
    border-radius: 5px;
    border: none;
    background-color: var(--yellow);
    color: black;
    font-weight: bold;
    /* font-size: 12pt; */
}

/* quantity buttons active */
.shopping-cart-root .item-row-container .quantity-btn button:active {
    background-color: var(--yellow);
    color: var(--blue);

}

.shopping-cart-root .item-row-container .item-quantity {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.shopping-cart-root .item-row-container .item-name {
    width: 10em;
}

.shopping-cart-root .item-row-container .item-price {
    text-align: right;
    width: 5em;
}

.shopping-cart-root .item-row-container .right-side {
    text-align: right;
    gap: 1em;
}

.shopping-cart-root .item-row-container .right-side button {
    border: none;
    border-radius: 5px;
    padding: .25em;
    width: fit-content;
    color: black;
    background-color: var(--yellow);
}

.shopping-cart-root .shopping-cart-items {
    max-height: 70vh;
    overflow-y: auto;
}

.shopping-cart-root .cart-summary-container>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shopping-cart-root .cart-summary-container .total-cost {
    border-top: solid var(--blue) 1px;
}

.shopping-cart-root .cart-summary-container .summary-header {
    border-bottom: solid var(--blue) 1px;
    margin-top: .5em;
    padding-bottom: 1em;
    margin-bottom: 0;
}

.shopping-cart-root .empty-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    text-align: center;
    font-size: x-large;

    margin: auto;
    padding: 1em;
    width: 90%;
    height: fit-content;
    border-radius: 8px;

    background-color: var(--blue);
    color: var(--yellow);
}

.shopping-cart-root .empty-cart-container .empty-cart-header {
    font-weight: bold;
}

.shopping-cart-root .empty-cart-container .empty-cart-call-to-action a {
    color: var(--yellow);
    font-weight: bold;
}

.shopping-cart-root .empty-cart-container .empty-cart-call-to-action a:hover {
    color: white;
}

.item-row-container .quantity-btn {
    display: flex;
    align-items: center;
    text-align: center;
}

.item-row-container .item-quantity {
    margin-right: .35em;
}