.shopping-cart-root {
    background-color: var(--blue);
}

.shopping-cart-root .cart-header {
    text-align: center;

    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 1em;

    color: white;

    border-bottom: solid var(--yellow) 2px;

    font-size: xx-large;
}

.shopping-cart-root .cart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin: auto;
    height: 100vh;
    width: 98vw;

    background-color: var(--blue);
}

.shopping-cart-root .cart-summary-container {
    display: flex;
    flex-direction: column;
    gap: 2em;

    background-color: white;
    border: solid var(--blue) .2px;
    border-radius: 4px;

    text-align: left;

    margin: 1em;
    padding: 1em;
    height: 60%;
    width: 20%;
    
    text-align: center;
}

/* checkout button style */
.shopping-cart-root .cart-summary-container .checkout-btn {
    cursor: pointer;
    color: black;
    background-color: var(--yellow);

    margin: auto;
    width: 10em;
    height: 2.5em;

    border: none;
    border-radius: 6px;

    font-size: 1em;
    font-weight: bold;
}

/* checkout button active */
.shopping-cart-root .cart-summary-container .checkout-btn:active {
    color: var(--blue);
    background-color: var(--yellow);
}

.shopping-cart-root .item-row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 4px;

    margin: 1em;
    padding: 1em;

    background-color: white;
}

.shopping-cart-root .item-row-container a {
    text-decoration: none;
    color: black;
    padding-left: 1em;
}

.shopping-cart-root .item-row-container .cart-item-image-frame {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-grow: 1;

    margin: auto;
    height: 11em;
    width: 8em;
}

.shopping-cart-root .item-row-container img {
    display: block;
    overflow: hidden;
    flex-grow: 1;
    margin: auto;
    height: auto;
    width: fit-content;
    max-width: 100%;
}

/* quanitity buttons style */
.shopping-cart-root .item-row-container .quantity-btn button {
    cursor: pointer;

    border: none;
    border-radius: 5px;

    font-weight: bold;

    margin-right: .5em;
    width: 2em;
    height: 2em;


    color: black;
    background-color: var(--yellow);
}

/* quantity buttons active */
.shopping-cart-root .item-row-container .quantity-btn button:active {
    color: white;
    background-color: var(--yellow);

}

.shopping-cart-root .item-row-container .item-quantity {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.shopping-cart-root .item-row-container .item-name {
    width: 10em;
    /* flex-grow: 2; */
}

.shopping-cart-root .item-row-container .item-price {
    text-align: right;

    width: 5em;
}

.shopping-cart-root .item-row-container .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .5em;
}

.shopping-cart-root .item-row-container .right-side button {
    border: none;
    border-radius: 5px;

    width: fit-content;
    padding: .3em;
    margin-top: .5em;

    color: black;
    background-color: var(--yellow);
}

.shopping-cart-root .item-row-container .right-side button:active {
    color: white;
}


.shopping-cart-root .shopping-cart-items {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-height: 95vh;
    overflow-y: auto;
}

.shopping-cart-root .cart-summary-container>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shopping-cart-root .cart-summary-container .total-cost {
    border-top: solid var(--blue) 1px;
}

.shopping-cart-root .cart-summary-container .summary-header {
    border-bottom: solid var(--blue) 1px;

    margin-top: .5em;
    margin-bottom: 0;
    padding-bottom: 1em;
}

.shopping-cart-root .empty-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;

    text-align: center;
    font-size: x-large;

    margin: auto;
    padding: 1em;
    width: 90%;
    height: fit-content;
    border-radius: 8px;

    background-color: var(--blue);
    color: var(--yellow);
}

.shopping-cart-root .empty-cart-container .empty-cart-header {
    font-weight: bold;
}

.shopping-cart-root .empty-cart-container .empty-cart-call-to-action a {
    color: var(--yellow);

    font-weight: bold;
}

.shopping-cart-root .empty-cart-container .empty-cart-call-to-action a:hover {
    color: white;
}

.item-row-container .quantity-btn {
    display: flex;
    align-items: flex-end;
    /* padding-left: 2em; */
    /* flex-grow: 1; */
    justify-content: center;
    margin: auto;

}

.item-row-container .item-quantity {
    margin-right: .35em;
}

@media screen and (max-width: 650px) {

    .shopping-cart-root .cart-header {
        width: auto;

    }

    .shopping-cart-items {
        padding: 0 0 0 1em;
    }

    .shopping-cart-root .item-row-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 25px;
        text-align: center;
        margin-bottom: 1em;
        width: 10em;

        height: fit-content;
        border-radius: 4px;
    }


    .shopping-cart-root .item-row-container .item-name {
        display: flex;
        flex-direction: column;
        gap: 5px;


        width: auto;
    }

    .item-row-container .quantity-btn {
        padding-left: 0;
    }

    .shopping-cart-root .item-row-container .right-side,
    .shopping-cart-root .item-row-container .item-price {
        text-align: center;
    }



}