
:root {
  --blue: hsl(178, 61%, 41%);
  --yellow: hsl(36, 92%, 75%);
  --darkYellow: hsl(36, 92%, 70%);
  --lightBlue: hsl(178, 61%, 45%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
