@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}


nav {
    padding: 5px;
    margin: 5px;

    border-radius: 5px;
    font-family: 'Roboto', sans-serif;

    background-color: rgb(41, 170, 166);
    color: white;

    display: flex;
    justify-content: space-between;

    user-select: none;
}

nav a {
    color: inherit;
    text-decoration: unset;
}

nav a,
nav span {
    padding: 0.25rem 0.5rem;
    display: inline-block;
    line-height: 1rem;
    transition: 0.2s;
    cursor: pointer;

    border-radius: 5px;
}

nav a:hover,
nav span:hover {
    background-color: rgb(250, 204, 135);
    color: rgb(31, 118, 115);


}

nav>div {
    display: flex;

}

@media screen and (max-width: 600px) {

    nav {
        margin: 0;

        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;

        border-radius: 10px;

    }

    nav,
    nav>div {
        flex-direction: column;

    }

    nav.hidden>div *:not(span) {
        display: none;
    }


}