.products-root {
  overflow: auto;

  text-align: center;
}

.products-root .search-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .25em;

  color: var(--yellow);
  background-color: var(--blue);

  margin: auto;
  max-width: 1085px;
  padding: 1em;

  font-size: 24pt;
  font-weight: bold;
}

.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;

  max-width: 1150px;
  margin: auto;

  background-color: white;
}

.products-root .header {
  color: var(--blue);
  background-color: var(--yellow);

  margin: 0;
  padding: 1.5em 0 1.5em 0;
}