.product-card {
  padding: 1em;
  max-height: 100%;
  background-color: white;

  overflow: hidden;
  justify-content: space-evenly;

  flex: 1 1 200px;

  text-align: center;

  transition: all .2s ease-in-out;
}

.product-card:hover {
  transform: scale(1.009);
  box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
}

.product-card h4 {
  margin: 2px 0;
}

.product-card a {
  text-decoration: none;

  color: black;
}

.product-info {
  margin: auto;
  width: 50%;

  padding: 10px;
  overflow: auto;
  display: block;

  height: fit-content;
  width: fit-content;
  align-items: flex-end;
  text-align: center;

}

.product-info .image-frame {
  display: flex;
  justify-content: center;
  text-align: center;

  margin: auto;
  height: 11em;
  width: 8em;
}

.image {
  display: block;
  overflow: hidden;
  
  margin: auto;
  height: auto;
  width: fit-content;
  max-width: 100%;

}

.product-name {
  font-weight: bold;
  font-size: large;
  height: 2.5em;

  color: black;
}

.add-button {
  display: inline-block;

  color: black;
  background-color: var(--yellow);
  border: solid white 1px;
  border-radius: 4px;

  
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  
  cursor: pointer;

  margin: 5px;
  padding: 0.5rem 1rem;

  z-index: 1;

  /* transition: .2s; */
}

.product-card .add-button:hover {
  color: var(--yellow);
  background-color: var(--blue);
  border: solid var(--yellow) 1px;
}

.product-card .add-button:active {
  color: var(--blue);
  background-color: var(--yellow);

  /* transform: translate(.15em, .15em); */
}

.add-button span {
  position: relative;
  display: inline-block;

  cursor: pointer;
}

.add-button span:after {
  position: absolute;
  opacity: 0;
  top: 0;
}

/* .add-button:hover {
  color: var(--yellow);
  background-color: var(--blue);
  border: solid var(--yellow) 1px;
} */