.order-root {
    background-color: var(--blue);

    height: 40em;
    padding: 2em;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


.order-root .order-page-content {
    background-color: white;

    border-radius: 10px;
}

.order-root .order-page-content .order-detail-root {
    display: flex;
    flex-direction: row;
}

.order-status-root {
    padding: 1em;
    border-radius: 10px;

    background-color: var(--yellow);
}

.order-detail-root .order-display {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-top: 1em;
    padding: 1em;
}

.order-detail-root .order-display .order-data-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.order-detail-root .order-data-root {
    text-align: left;
}

.order-detail-root .order-display .order-display-quantity {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.order-detail-root .order-display .order-data-root {
    width: 15em;
}

.order-detail-root .bold {
    font-weight: bold;
}

.order-root .product-image-frame {
    display: flex;
    justify-content: center;

    margin: auto;
    height: 11em;
    width: 9em;
}

.order-root .product-image-frame img {
    height: auto;
    width: 100%;
    
    display: block;
}

.order-root .order-status-success {
    color: white;

    font-size: 30pt;

    margin-top: 0;
    padding: 0;
}

.order-status-root .order-number {
    text-align: left;
    font-size: small;

    margin-top: 2em;
}

.order-page-content .order-status-root .order-header {
    display: flex;
    justify-content: space-between;
}

.order-page-content .order-status-root .order-header .date {
    display: flex;
    flex-direction: column;
}

.order-page-content .order-status-root .order-header .grand-total {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.order-page-content .order-status-root .order-header .grand-total h2 {
    margin: 0;
    margin-left: .25em;
}