.past-orders-root {
    margin-top: 4em;
    border-radius: 10px;

}

.past-orders-root th {
    text-decoration: underline;
    color: var(--yellow);
    padding: 1em;
    font-size: 20pt;
}

.past-orders-root table {
    table-layout: auto;
    max-width: 1000px;
    margin: auto;
    border-collapse: collapse;
}

.past-orders-root td {
    padding: 1em;

}

.past-orders-root td:not(td:first-child) {
    text-align: right;
}

.past-orders-root tr:nth-child(even) {
    background-color: var(--lightBlue);
}

.past-orders-root tr:nth-child(odd) {
    background-color: var(--blue);

}