.past-orders-root {
    padding-top: 1em;
    margin-top: -1em;
    border-radius: 10px;
    background-color: white;

}

.past-orders-root th {
    text-decoration: underline;
    color: var(--yellow);
    background-color: var(--blue);
   
    padding: 1em;
    font-size: 12pt;

}

.past-orders-root a {
    color: black;
}

.past-orders-root a:hover {
    color: var(--blue);
}

.past-orders-root table {
    table-layout: auto;
    max-width: 1000px;
    margin: auto;
    border-collapse: collapse;
}

.past-orders-root td {
    padding: 1em;
    border-bottom: solid var(--blue) 1px;

}

.past-orders-root td:not(td:first-child) {
    text-align: right;
}

.past-orders-root tr:nth-child(even) {
    background-color: var(white);
}

.past-orders-root tr:nth-child(odd) {
    background-color: var(white);

}