.login-root,
.signup-root  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 24%;
    background-color: var(--blue);
    width: 20em;
    height: 25em;
    border-radius: 5px;
    margin: auto;
    margin-top: 5em;
    font-size: x-large;
}


.input-form-root>hr {
    width: 15em;
    border: solid var(--blue) 1px;
}

.input-form-root>input {
    margin: 0em 8em .75em;
    padding: .75em 1.25em;

    border: solid white 1px;
    border-radius: 3px;

    font-weight: bold;
    text-align: center;
    font-size: inherit;

    color: var(--blue);
}

.input-form-root input:-webkit-autofill:hover, 
.input-form-root input:-webkit-autofill,
.input-form-root input:-webkit-autofill:focus, 
.input-form-root input:-webkit-autofill:active{
    box-shadow: 0 0 0 40px  white inset !important;
    transition: none;
}

/*Change text in autofill textbox*/
.input-form-root input:-webkit-autofill{
    -webkit-text-fill-color: var(--blue) !important;

}

.input-form-root input::selection {
    background: var(--blue); /* WebKit/Blink Browsers */
}

.input-form-root>input:focus {
    outline: none;
    width: 15em;
    transition-duration: 0.35s;

}

.input-form-root>input:hover {
    /* background-color: hsl(178, 61%, 55%); */
}


.input-form-root>input::placeholder {
    color: white;
}

.login-root>a {
    margin-top: 1em;
    color: white;
}

.login-root .header {
    color: white;
    font-weight: 400;
}

.login-root .signup-btn,
.login-root .login-btn {
    color: var(--blue);
    background-color: var(--darkYellow);
    font-weight: bold;
    font-size: inherit;


    padding: .75em 1.25em;
    margin: 0em 8em .75em;
    width: 14.25em;

    border: none;
    border-radius: 3px;
}


.signup-root .login-btn:hover,
.signup-root .signup-btn:hover {
    cursor: pointer;
    background-color: var(--darkYellow);
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);

}

